<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel-group" style="padding-top: 12px;">
            <div class="panel panel-primary" >
                <div class="panel-heading"><h1>Update Expense Here</h1></div>
                <div class="panel-body">
                    <form action="" method='post'>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Card Number to update" class="form-control" id="cardNumber">
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Enter new shopping expense" class="form-control" id="shoppingExpense" >
                        </div>
                        <div class="form-group">
                            <input type="number" placeholder="Enter new food expense" class="form-control" id="foodExpense">
                        </div>
                        <button type="button" id="update_button"  onclick="update_details();" class="btn btn-info">Update Expense</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4"></div>


</div>
</body>
</html>